<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.name %></title>
</head>
<body>
    <h1><%= user.name %></h1>
    <ul>
        <li>User: <%= user.name %></li>
        <li>Email: <%= user.email %></li>
        <li>Category: <a href="/users?category=<%= user.category %>"><%= user.category %></a></li>
    </ul>
    <a href="/users">All users</a>
    <a href="/users/<%=user.id%>/edit">Edit user</a>
    <form action="/users/<%=user.id%>?_method=DELETE" method="POST">
        <button>Delete user</button>
    </form>
</body>
</html>